.Projects {
  // #####
  // The scrolled list
  &-list {
    overflow: auto;

    .Link {
      font-weight: 200;
      letter-spacing: 2.5px;
      font-size: 1.2rem;
    }

    // HACK
    .Link:first-child {
      margin-top: $margin;
    }
  }

  // #####
  // Item open
  &._itemOpen {
    // HACK
    .Link {
      opacity: 0.1;
    }
  }
}
