

$titleSize: 80; // CHANGE THIS VALUE TO CHANGE THE TITLE SIZE
$subtitleSize: 32;

.Header {
  margin-left: -50px; // To align the E with the column

  &-title {
    display: inline-block;
    position: relative;
    max-width: 100%;
    color: $main-color;
    font-weight: bold;
    font-size: (0.1rem * $titleSize);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  &-subtitle {
    position: absolute;
    right: (22em / $subtitleSize);
    bottom: (4em / $subtitleSize);
    font-size: (32em / $titleSize);
    font-weight: normal;
    text-transform: none;
    letter-spacing: (6em / $subtitleSize);
    line-height: initial;
    color: #070707;

    // animation props
    transform-origin: 0 0;
    overflow: hidden;
  }

  // MOBILE
  @include mq($until: tablet) {
    // V1 ------------------------------
    margin-left: -5px;
    &-title {
      line-height: 5.2rem;
      letter-spacing: 4.5px;
      font-size: 6rem;
      // Boulay
      span:nth-child(2) {
        letter-spacing: 0px;
      }
    }
    &-subtitle {
      letter-spacing: 3.5px;
      bottom: -6px;
      right: 0;
    }

    // V2 --------
  }
}


/**
 * * *******************
 * * ANIMATIONS
 * * *******************
*/
.Header-title, #title {
  span { display: flex; }
}

#title {
  // Bottom mask
  &._withMask > span {
    position: relative;

    &::after {
      content: '';
      margin-top: -18px;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      width: 110%;
      height: 200px;
      background-color: white;
      // border: 1px solid red;
    }
  }

  // Space after JEREMIE
  & > span:first-child {
    margin-right: $margin;
  }
  // The Y letter
  & > span+span > span:last-child {
    margin-left: -5px;
  }

  // MOBILE
  @include mq($until: tablet) {
    flex-direction: column;

    & > span+span {
      z-index: 1;
    }

    &._withMask > span::after {
      margin-top: -5px;
    }
  }
}
