
.Link {
  box-sizing: border-box;
  padding: $margin * 0.25 0;
  cursor: pointer;

  // animation
  overflow: hidden;
  padding-right: 5px;

  // Imgs
  img {
    width: 1.6rem;
    height: auto;
    margin-right: 10px;
  }

  // wrapper
  &-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    &::after, span {
      display: block;
      transition: 0.2s;
    }

    // Background
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -2px;
      left: -2px;
      width: 0%;
      height: 100%;
      background-color: $main-color;
    }
  }

  // Transforms
  &._main {
    margin-bottom: $margin * 1;
  }
  &._about {
    p {
      padding-right: $margin * 0.5;
    }
  }

  &._open {
    padding: $margin;
  }
}

.no-touch .Link {
  &:hover {
    span { transform: translate(5px, -5px); }

    .Link-wrapper::after {
      width: 100%;
      top: 0px;
      left: 0px;
    }
  }
}